//Variables
//$mainColor: rebeccapurple;
$mainColor: rgb(207, 153, 207);
$mainFont: 'Dosis', 'Times New Roman', Times, serif;
$nameFont: 'Great Vibes', 'Dosis', 'Times New Roman', Times, serif;

//Content
body {
    font-family: $mainFont;
    font-size: 2em;
}

.navigation {
    background-color: $mainColor;
    margin-bottom: 2em;

    .brand {
        font-weight: bold;
        color: white !important; 
        font-size: 2.5em;
    }
    
    .tabs {
        float: right;
    }
}

.presentation {
    margin-top: -2em;
    width: 100%;
    height: 50%;
    background-color: lightsteelblue;
    padding: 4em;

    #name {
        font-family: $nameFont;
        font-weight: bold;
        font-size: 2.8em;
    }

    .manualItalic {
        font-style: italic;
    }

    .tec {
        padding: 0.5em;

        #tec-list {
            margin-top: 0.8em;
        }

        #tec-list-back {
            margin-top: 0.8em;
        }
    }
    
    img {
        border-radius: 15px;
        width: 50%;
    }
}

.container{
    width: 100%;
    margin-top: 1.2em;

    .row .row {
        img{
            width: 80% !important;
            height: 100% !important;
            margin: 0.5em;
        }
    }
}

footer .container  {
    padding: 2em;
    color: white;
}